<!----contacts---->
<section class="contacts" id="contacts">
  <div class="container contacts-container">
    <div class="contacts-title-container">
      <h2 class="contacts-title">FRESH HARVEST BOX HAS GOT YOU COVERED</h2>
      <ul class="contacts-fruits">
        <li>
          <picture>
            <source
              srcset="./img/contacts/melon-w344@1x.png 1x"
              media="(max-width: 1280px)"
              width="344"
            />
            <source
              srcset="./img/contacts/melon-w344@2x.png 2x"
              media="(max-width: 1280px)"
              width="344"
            />
            <source
              srcset="./img/contacts/melon-w792@1x.png 1x"
              media="(min-width: 1281px)"
              width="792"
            />
            <source
              srcset="./img/contacts/melon-w792@2x.png 2x"
              media="(min-width: 1281px)"
              width="792"
            />
            <img
              srcset="./img/contacts/melon-w335@2x.png 2x"
              src="./img/contacts/melon-w335@1x.png"
              alt="melon"
              width="335"
            />
          </picture>
        </li>
        <li class="contacts-blueberry">
          <picture>
            <source
              srcset="./img/contacts/blueberry-w400@1x.png 1x"
              media="(min-width: 1280px)"
              width="400"
            />
            <source
              srcset="./img/contacts/blueberry-w400@2x.png 2x"
              media="(min-width: 1280px)"
              width="400"
            />
            <img
              srcset="./img/contacts/blueberry-w344@2x.png 2x"
              src="./img/contacts/blueberry-w344@1x.png"
              alt="blueberry"
              width="344"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="contacts-form-container">
      <p class="contacts-text">
        Our boxes are packed with delicious, nutritious fruits and vegetables,
        perfect for anyone looking to eat healthier or support local farmers.
        Order your box today and start enjoying the best that nature has to
        offer!
      </p>
      <form class="contacts-form">
        <input
          class="contacts-modal-input"
          type="email"
          placeholder="Enter email..."
          required
        />
        <button class="fcontacts-butoon" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</section>
<!---npm run dev--->
