<!----contacts---->
<section class="contacts">
  <div class="container">
    <div class="contacts-title-container">
      <h2 class="contacts-title">FRESH HARVEST BOX HAS GOT YOU COVERED
      </h2>
      <div class="contacts-img">
        <img
          srcset="../img/jpg/contacts/melon-w335@2x.png 2x"
          src="../img/jpg/contacts/melon-w335@1x.png"
          alt="computer"
          width="360"
        />
      </div>
    </div>
    <div class="contacts-form-container">
      <p class="contacts-text">
        Our boxes are packed with delicious, nutritious fruits and vegetables,
        perfect for anyone looking to eat healthier or support local farmers.
        Order your box today and start enjoying the best that nature has to
        offer!
      </p>
      <form class="contacts-form">
        <input
          class="contacts-modal-input"
          type="email"
          placeholder="Enter email..."
        />
        <button class="fcontacts-butoon" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</section>
<!---npm run dev--->
