<!-- === FOOTER === -->
<!-- Підвал сторінки -->
<footer>
  <!-- Логотип + iмiдж -->
  <!-- Iмідж -->
  <img
    srcset="./img/footer/gerl-mob@1x.png 1x, ./img/footer/gerl-mob@2x.png 2x"
    src="./img/footer/gerl-mob@1x.png"
    alt="the girl and bananas"
    width="335"
  />
  <!-- Логотип -->
  <a href="">
    <svg class="logo-icon" width="16" height="16">
      <use href="./img/footer/icons.svg#icon-logo"></use>
    </svg>
    <p class="logo">fresh harvest box</p>
  </a>
  <!-- Навігація по сайту -->
  <nav>
    <ul>
      <li><a href="#HowItWorks">How It Works</a></li>
      <li><a href="#Fruits">Fruits</a></li>
      <li><a href="#Contacts">Contacts</a></li>
    </ul>
  </nav>
  <!-- Посилання на соцмережі -->
  <ul>
    <li><a href="">Facebook</a></li>
    <li><a href="">Instagram</a></li>
    <li><a href="">Youtube</a></li>
  </ul>
  <!-- Контакти компанії -->
  <address>
    <a href="+380684439426">+380 (68) 443-94-26</a>
  </address>
  <address>
    1678 S. Pioneer Road <br />
    Salt Lake City <br />
    UT 84104
  </address>
</footer>
