<footer class="footer">
  <div class="footer-container container">
    <div class="1-column">
      <img
        class="footer-img"
        srcset="
          ./img/footer/gerl-mob@1x.png 1x,
          ./img/footer/gerl-mob@2x.png 2x
        "
        src="./img/footer/gerl-mob@1x.png"
        alt="girl-banana"
        width="349"
        height="179"
      />
      <a
        class="logo-footer"
        href="./index.html"
        aria-label="fresh harvest box logo"
      >
        <svg class="" width="16" height="16">
          <use href="./img/icon.svg#icon-logo"></use>
        </svg>
        <span class="logo-text-header">fresh harvest box</span>
      </a>
    </div>
    <div class="2-column">
      <ul class="footer-menu">
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="howitwork.html">How It Works</a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="fruits.html">Fruits</a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="contacts.html">Contacts</a>
        </li>
      </ul>
    </div>
    <div class="3-column">
      <ul class="footer-social">
        <li class="social-item">
          <a
            class="footer-social-link link"
            href="https://facebook.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="facebook icon"
          >
            <svg class="social-icon" width="28" height="28">
              <use href="./img/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="footer-social-link link"
            href="https://instagram.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="instagram icon"
          >
            <svg class="social-icon" width="28" height="28">
              <use href="./img/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="footer-social-link link"
            href="https://youtube.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="youtube icon"
          >
            <svg class="social-icon" width="28" height="28">
              <use href="./img/icon.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="footer-contacts">
        <ul class="address">
          <li class="address-item">
            <a href="tel:+380684439426" class="contact-item"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="address-item map-link">
            <a
              href="https://goo.gl/maps/28qS7DatdnMmZp9Q7?coh=178572&entry=tt"
              class="contact-item"
              target="_blank"
              rel="noopener noreferrer"
              >1678 S. Pioneer Road<br />Salt Lake City UT<br />84104</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
