<!-- === FOOTER === -->
<!-- Підвал сторінки -->
<footer>
  <!-- Логотип + iмiдж -->
  <!-- Iмідж -->
    <footer class="footer cont-footer">
      <div class="footer-container container flex-footer" >
        <!-- Логотип + iмiдж -->
        <!-- Iмідж -->
            <img class="img"
              srcset="
                ./img/footer/gerl-mob@1x.png,
                ./img/footer/gerl-mob@1x.png                
              "
              src="./img/footer/gerl-mob@1x.png"
              alt="the girl and bananas"
              width="335"
              height="172"
            />
  <!-- Логотип -->
  <a href="">
    <svg class="logo-icon" width="16" height="16">
      <use href="./img/footer/icons.svg#icon-logo"></use>
    </svg>
    <p class="logo">fresh harvest box</p>
  </a>
  <!-- Навігація по сайту -->
  <nav>
    <ul>
      <li><a href="#how">How It Works</a></li>
      <li><a href="#fruits">Fruits</a></li>
      <li><a href="#contacts">Contacts</a></li>
    </ul>
  </nav>
  <!-- Посилання на соцмережі -->
  <ul>
    <li><a href="">Facebook</a></li>
    <li><a href="">Instagram</a></li>
    <li><a href="">Youtube</a></li>
  </ul>
  <!-- Контакти компанії -->
  <address>
    <a href="+380684439426">+380 (68) 443-94-26</a>
  </address>
  <address>
    1678 S. Pioneer Road <br />
    Salt Lake City <br />
    UT 84104
  </address>
</footer>
