<!-- SECTION FRUITS -->
<section class="fruits-section section">
  <div class="fruits-container container">
    <div class="fruits-title-wrapper">
      <h2 id="fruits" class="fruits-title">ОRGANIC FRUITS</h2>
      <p class="fruits-text">
        Our organic fruits are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible. We offer a wide selection of organic fruits
        grown without the use of harmful pesticides or chemicals.
      </p>
    </div>
    <ul class="fruits-list">
      <li class="fruits-item">
        <h3 class="fruits-item-title">Strawberry</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="fruit-image-wrapper">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/fruit-1@1x.png 1x,
              ./img/fruits/fruit-1@2x.png 2x
            "
            src="/img/fruits/fruit-1@1x.png"
            width="295"
            height="251"
            alt="Strawberry"
            loading="lazy"
          />

          <div class="fruits-item-image-shadow"></div>
        </div>
        <a class="fruits-item-price">100 UAH / kg</a>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-item-title">Banana</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="fruit-image-wrapper">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/fruit-2@1x.png 1x,
              ./img/fruits/fruit-2@2x.png 2x
            "
            src="/img/fruits/fruit-2@1x.png"
            width="295"
            height="251"
            alt="Banana"
            loading="lazy"
          />
          <div class="fruits-item-image-shadow"></div>
        </div>
        <span class="fruits-item-price">80 UAH / kg</span>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-item-title">Watermelon</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="fruit-image-wrapper">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/fruit-3@1x.png 1x,
              ./img/fruits/fruit-3@2x.png 2x
            "
            src="/img/fruits/fruit-3@1x.png"
            width="295"
            height="251"
            alt="Watermelon"
            loading="lazy"
          />
          <div class="fruits-item-image-shadow"></div>
        </div>
        <span class="fruits-item-price">40 UAH / kg</span>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-item-title">Lime</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="fruit-image-wrapper">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/fruit-4@1x.png 1x,
              ./img/fruits/fruit-4@2x.png 2x
            "
            src="/img/fruits/fruit-4@1x.png"
            width="295"
            height="251"
            alt="Lime"
            loading="lazy"
          />
          <div class="fruits-item-image-shadow"></div>
        </div>
        <span class="fruits-item-price">60 UAH / kg</span>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-item-title">Apple</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="fruit-image-wrapper">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/fruit-5@1x.png 1x,
              ./img/fruits/fruit-5@2x.png 2x
            "
            src="/img/fruits/fruit-5@1x.png"
            width="295"
            height="251"
            alt="Apple"
            loading="lazy"
          />
          <div class="fruits-item-image-shadow"></div>
        </div>
        <span class="fruits-item-price">50 UAH / kg</span>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-item-title">Peach</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="fruit-image-wrapper">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/fruit-6@1x.png 1x,
              ./img/fruits/fruit-6@2x.png 2x
            "
            src="/img/fruits/fruit-6@1x.png"
            width="295"
            height="251"
            alt="Peach"
            loading="lazy"
          />
          <div class="fruits-item-image-shadow"></div>
        </div>
        <span class="fruits-item-price">80 UAH / kg</span>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-item-title">Plums</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="fruit-image-wrapper">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/fruit-7@1x.png 1x,
              ./img/fruits/fruit-7@2x.png 2x
            "
            src="/img/fruits/fruit-7@1x.png"
            width="295"
            height="251"
            alt="Plums"
            loading="lazy"
          />
          <div class="fruits-item-image-shadow"></div>
        </div>
        <span class="fruits-item-price">40 UAH / kg</span>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-item-title">Orange</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="fruit-image-wrapper">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/fruit-8@1x.png 1x,
              ./img/fruits/fruit-8@2x.png 2x
            "
            src="/img/fruits/fruit-8@1x.png"
            width="295"
            height="251"
            alt="Orange"
            loading="lazy"
          />
          <div class="fruits-item-image-shadow"></div>
        </div>
        <span class="fruits-item-price">60 UAH / kg</span>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-item-title">Kiwi</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="fruit-image-wrapper">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/fruit-9@1x.png 1x,
              ./img/fruits/fruit-9@2x.png 2x
            "
            src="/img/fruits/fruit-9@1x.png"
            width="295"
            height="251"
            alt="Kiwi"
            loading="lazy"
          />
          <div class="fruits-item-image-shadow"></div>
        </div>
        <span class="fruits-item-price">90 UAH / kg</span>
      </li>
    </ul>
    <div class="fruits-btn-container">
      <button class="fruits-order-btn" type="button" data-modal-open>
        <svg class="fruits-order-img" width="14" height="14">
          <use href="./img/fruits.svg#icon-Vector"></use>
        </svg>
        ORDER
      </button>
    </div>
  </div>
</section>
<!-- SECTION FRUITS END -->
