<!-- SECTION FRUITS -->
<link rel="stylesheet" href="../css/fruits.css" />
<section class="fruits-section section">
  <div class="fruits-container container">
    <div class="fruits-title-wrapper">
      <h2 class="fruits-title">ORGANIC FRUITS</h2>
      <p class="fruits-text">
        Our organic fruits are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible. We offer a wide selection of organic fruits
        grown without the use of harmful pesticides or chemicals.
      </p>
    </div>
    <ul class="fruits-list ul">
      <li class="fruits-item">
        <h3 class="fruits-item-title">Strawberry</h2>
        <p class="fruits-item-text">Plant</p>
        <img class="fruits-item-image" src="../img/jpg/fruits/fruit1.png" width="295" alt="Strawberry" />
        <div class="fruits-item-image-shadow"></div>
        <span class="fruits-item-price">100 UAH / kg</span>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-item-title">Banana</h2>
        <p class="fruits-item-text">Plant</p>
        <img class="fruits-item-image" src="../img/jpg/fruits/fruit1.png" width="295" alt="Banana" />
        <div class="fruits-item-image-shadow"></div>
        <span class="fruits-item-price">80 UAH / kg</span>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-item-title">Watermelon</h2>
        <p class="fruits-item-text">Plant</p>
        <img class="fruits-item-image" src="../img/jpg/fruits/fruit1.png" width="295" alt="Watermelon" />
        <div class="fruits-item-image-shadow"></div>
        <span class="fruits-item-price">40 UAH / kg</span>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-item-title">Lime</h2>
        <p class="fruits-item-text">Plant</p>
        <img class="fruits-item-image" src="../img/jpg/fruits/fruit1.png" width="295" alt="Lime" />
        <div class="fruits-item-image-shadow"></div>
        <span class="fruits-item-price">60 UAH / kg</span>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-item-title">Apple</h2>
        <p class="fruits-item-text">Plant</p>
        <img class="fruits-item-image" src="../img/jpg/fruits/fruit1.png" width="295" alt="Apple" />
        <div class="fruits-item-image-shadow"></div>
        <span class="fruits-item-price">50 UAH / kg</span>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-item-title">Peach</h2>
        <p class="fruits-item-text">Plant</p>
        <img class="fruits-item-image" src="../img/jpg/fruits/fruit1.png" width="295" alt="Peach" />
        <div class="fruits-item-image-shadow"></div>
        <span class="fruits-item-price">80 UAH / kg</span>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-item-title">Plums</h2>
        <p class="fruits-item-text">Plant</p>
        <img class="fruits-item-image" src="../img/jpg/fruits/fruit1.png" width="295" alt="Plums" />
        <div class="fruits-item-image-shadow"></div>
        <span class="fruits-item-price">40 UAH / kg</span>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-item-title">Orange</h2>
        <p class="fruits-item-text">Plant</p>
        <img class="fruits-item-image" src="../img/jpg/fruits/fruit1.png" width="295" alt="Orange" />
        <div class="fruits-item-image-shadow"></div>
        <span class="fruits-item-price">60 UAH / kg</span>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-item-title">Kiwi</h2>
        <p class="fruits-item-text">Plant</p>
        <img class="fruits-item-image" src="../img/jpg/fruits/fruit1.png" width="295" alt="Kiwi" />
        <div class="fruits-item-image-shadow"></div>
        <span class="fruits-item-price">90 UAH / kg</span>
      </li>
    </ul>
    <div class="fruits-btn-container">
    <button class="fruits-order-btn" type="button" data-modal-open>
      <svg class="fruits-order-img" width="14" height="14">
      <use href="../img/icons.svg#icon-Vector"></use>
    </svg>
    ORDER
  </button>
    </div>
  </div>
</section>
<!-- SECTION FRUITS END -->