<header class="header">
    <div class="header-container container">
        <nav class="navigation">
            <ul class="menu">
                <li class="">
                    <a class="menu-item" href="./howitwork.html">How It Works</a>
                </li>
                <li class="">
                    <a class="menu-item" href="./fruits.html">Fruits</a>
                </li>
                <li class="">
                    <a class="menu-item" href="./contacts.html">Contacts</a>
                </li>
            </ul>
        </nav>
        <a class="logo-header" href="../index.html" aria-label="fresh harvest box logo">
            <svg class="" width="16" height="16">
                <use href="../img/icon.svg#icon-logo"></use>
            </svg>
            <span class="logo-text-header">fresh harvest box</span>
        </a>

        <button class="menu-btn ">
            <svg width="24" height="24" aria-expanded="false" aria-controls="mobile-menu">
                <use class="svg-menu" href="../img/icon.svg#icon-mobile-menu"></use>
                <use class="svg-close" href="../img/icon.svg#icon-close"></use>
            </svg>
        </button>

        <div class="overlay">
            <ul class="mobile-menu">
                <li class="list">
                    <a class="menu-link" href="./howitwork.html">How It Works</a>
                </li>
                <li class="list">
                    <a class="menu-link" href="./fruits.html">Fruits</a>
                </li>
                <li class="list">
                    <a class="menu-link" href="./contacts.html">Contacts</a>
                </li>
                <li class="list">
                    <a class="" href="./fruits.html">
                        <svg class="" width="28" height="28">
                            <use href="../img/icon.svg#icon-uil_cart_menu"></use>
                        </svg>
                    </a>
                </li>
            </ul>

        </div>

        <button class="icon-uil_cart"> <svg class="" width="24" height="24">
                <use href="../img/icon.svg#icon-uil_cart_heder"></use>
            </svg>
        </button>
    </div>
    <script defer src="../js/icon.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
        integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
        crossorigin="anonymous"></script>
    <script defer src="../js/mobile-menu.js"></script>




</header>