<!-- Hero -->
<section class="hero">
    <div class="container">
      <div class="hero-top-container">
        <div class="hero-title-container">
          <h1 class="hero-title">
            fresh harvest box <br>is your one-stop place for a delicious fruit
            basket
          </h1>
        </div>
        <div class="hero-img-container">
        <img
          class="hero-main-img" src=" " alt=" "/>
      </div>
        <button class="hero-button" type="button" data-modal-open>
          Shop<br />now
        </button>
      </div>
    <div class="watermelon-container">
        <p class="watermelon-top-desc">
          Our expertly curated fruit baskets are made with the freshest,
          highest quality fruits available. Whether you are looking for a
          healthy snack or a gift for a loved one, Fresh Harvest Box has got
          you covered.
        </p>
        <div class="fruits-container">
          <p class="fruits-img-title">Fruit</p>
          <img
            class="fruits-hero-img"
            src="./img/hero/watermel.png"
            alt="Watermelon"
            width="200"
            height="172"
          />
          <p class="fruits-description">
            Design practice focused on digital experiences. We bring forth a
            deep passion for problem-solving.
          </p>
        </div>
      
      <ul class="tag-list">
          <li class="organic">
              <a class="org" href="">#ORGANIC</a>
          </li>
          <li class="prod">
              <a class="org" href="">#PRODUCTS</a>
          </li>
          <li class="basket">
              <a class="org" href="">#BASKET</a>
          </li>
          <li class="frui">
              <a class="org" href="">#FRUITS</a>
          </li>
      </ul>
      <div class="fruits-second-container">
        <p class="fruits-img-title">Fruit</p>
        <img
          class="fruits-hero-img"
          src="./img/hero/straw.png"
          alt="strawberry"
          width="162"
          height="185"
        />
        <p class="fruits-description">
          Design practice focused on digital experiences. We bring forth a
          deep passion for problem-solving.
        </p>
      </div>
    </div>
    </div>
  </section>
