<section class="how-it-works-section">
  <div class="container">
    <h2 class="title-order">
      TO ORDER YOUR FRUIT BASKET, SIMPLY FOLLOW THESE EASY STEPS
    </h2>
    <p class="text-order">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home. Whether you're looking for a healthy snack or a thoughtful
      gift, our fruit baskets are the perfect choice.
    </p>
    <div class="order-steps-list list">
      <ul class="order-steps-item">
        <li class="number-step color-one">
          <p class="text-step">First Step</p>
        </li>
        <li class="list-text-step">
          <p class="text-item-first">
            Just choose the fruit you want to order by clicking on the
            checkboxes next to it.
          </p>
        </li>
      </ul>

      <ul class="order-steps-item">
        <li class="number-step color-two">
          <p class="text-step">Second Step</p>
        </li>
        <li class="list-text-step">
          <p class="text-item">Click on the basket and fill out the form.</p>
        </li>
      </ul>

      <ul class="order-steps-item">
        <li class="number-step color-three">
          <p class="text-step">Third Step</p>
        </li>
        <li class="list-text-step">
          <p class="text-item-last">
            Sit back and relax! Your fresh fruit basket will be delivered.
          </p>
        </li>
      </ul>
    </div>
    <img
      class="img-gif"
      src="./img/fresh-mixed-fruits.gif"
      alt="Fresh mixed fruits"
      width="860"
      height="476"
      style="border-radius: 20px"
    />
  </div>
</section>
