/*----contacts----*/
.contacts-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    z-index: 2;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.00;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.contacts-title-container {
    position: relative;
}
.contacts-title-container > .contacts-img {
    position: absolute;
    top: 55px;
}
.contacts-form-container {
    display: none;
    width: 492px;
    margin-top: 80px;
}
.contacts-text {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29em;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.contacts-form {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.contacts-modal-input {
    width: 292px;
    height: 48px;
    padding-left: 24px;   
    font-size: 14px;
    line-height: 1.29em;
    opacity: 0.5;
    background-color: transparent;
    border: 1px solid var(--white-color);
    border-radius: 100px;
}
.fcontacts-butoon {
    width: 102px;
    height: 48px;
    font-size: 14px;
    line-height: 1.29em;
    border: none;
    background: #9DC162;
    border-radius: 100px;
}