/*----contacts----*/
.contacts-container {
  position: relative;
  padding-top: 54px;
  margin-bottom: 80px;
}
.contacts-title {
  text-align: center;
  position: absolute;
  width: 335px;
  top: 0;

  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 374px) {
  .contacts-title {
    width: 100%;
  }
}

.contacts-title-container {
  display: flex;
  justify-content: center;
}
.contacts-blueberry {
  display: none;
}
.contacts-form-container {
  display: none;
  width: 492px;
  margin-top: 80px;
  position: relative;
}
.contacts-text {
  text-align: center;

  font-size: 14px;
  line-height: 1.29em;
  letter-spacing: -0.04em;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.contacts-form {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.contacts-modal-input {
  width: 292px;
  height: 48px;
  padding-left: 24px;
  padding-right: 102px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29em;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid #ffffff4d;
  border-radius: 100px;
  outline: transparent;
}
.contacts-modal-input:not(:placeholder-shown):required:invalid {
  border-color: #94001ed2;
}
.fcontacts-butoon:is(:hover, :focus) {
  cursor: pointer;
  background: #a4cb66;
}
.fcontacts-butoon {
  position: absolute;
  right: 100px;
  width: 102px;

  height: 48px;
  font-size: 14px;
  line-height: 1.29em;
  border: none;
  color: var(--white-color);
  background: #9dc162;
  border-radius: 100px;
}
@media only screen and (min-width: 768px) {
  .contacts-container {
    margin-bottom: 144px;
    padding-top: 80px;
  }
  .contacts-title {
    width: 652px;
    font-size: 54px;
  }
  .contacts-fruits {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .contacts-blueberry {
    display: block;
  }
  .contacts-form-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Desktop */
@media only screen and (min-width: 1280px) {
  .contacts-container {
    margin-bottom: 144px;
    padding-top: 90px;
  }
  .contacts-title {
    font-size: 64px;
    width: 740px;
  }
  .contacts-fruits {
    gap: 24px;
  }
}
