.footer {
  background-color: #fff;
  padding: 80px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-menu {
  color: var(--red-color);
}
.address {
  color: var(--red-color);
  font-style: normal;
}
@media only screen and (min-width: 768px) {
  .address {
    align-items: flex-start;
  }
}
.footer-img {
  margin-bottom: 20px;
}
.logo-footer {
  display: block;
  text-align: center;
  }

.first-column {
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .first-column {
  margin-bottom: 80px;
}
}
@media only screen and (min-width: 768px) {
 .first-column {
  margin-bottom: 0px;
}
}

.footer-menu {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 44px;
}

@media only screen and (min-width: 768px) {
  .footer-menu {
    margin-bottom: 0;
  }
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ae1332;
  border-radius: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: rgba(174, 19, 50, 0.1);
}
@media only screen and (min-width: 768px) {
  .footer-social-link {
    width: 44px;
    height: 44px;
  }
}
.footer-social {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 44px;
}
.address {
  display: flex;
  gap: 14px;
  flex-direction: column;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .address {
    align-items: flex-start;
  }
}
.map-link {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .map-link {
    text-align: start;
  }
}
@media only screen and (min-width: 1280px) {
  .first-column {
    display: flex;
    align-items: center;
    gap: 243px;
  }
}
