.header-container {
  display: flex;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  justify-content: space-between;
}
.header {
  background-color: var(--white-color);
  position: relative;
}
.logo-header {
  display: flex;
  gap: 8px;
  text-decoration: none;
}
.logo-text-header {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3;
  font-weight: bold;
  color: var(--red-color);
}
.icon-mobile-menu {
  background-color: var(--white-color);
  border: 0;
  padding: 0;
  line-height: 0;
}
.icon-uil_cart {
  background-color: var(--white-color);
  border: 0;
  padding: 0;
  line-height: 0;
}
@media screen and (max-width: 768px) {
  .icon-uil_cart {
    display: none;
  }
  .navigation {
    display: none;
  }
}
.menu {
  display: flex;
  gap: 16px;
  font-size: 14px;
  line-height: 1.3;
  list-style: none;
}
.menu-item {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.3;
  color: var(--red-color);
}

.mobile-menu {
  margin-top: 124px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-link {
  text-decoration: none;
  color: var(--white-color);
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: absolute;
  top: 100%;
  bottom: 100%;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--red-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--white-color);
}
.icon-svg-header {
  fill: var(--red-color);
}
.menu-toggle .svg-open {
  display: block;
}
.menu-toggle .svg-close {
  display: none;
}

.menu-toggle.menu-btn--toggle .svg-open {
  display: none;
}
.menu-toggle.menu-btn--toggle .svg-close {
  display: block;
}
