.header-container {
  display: flex;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  justify-content: space-between;
}
.header {
  background-color: var(--white-color);
  position: relative;
}
.logo-header {
  display: flex;
  gap: 8px;
  text-decoration: none;
}
.logo-text-header {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3;
  font-weight: bold;
  color: var(--red-color);
}
.icon-mobile-menu {
  background-color: var(--white-color);
  border: 0;
  padding: 0;
  line-height: 0;
}
.icon-uil_cart {
  background-color: var(--white-color);
  border: 0;
  padding: 0;
  line-height: 0;
}
@media screen and (min-width: 767px) {
  .icon-mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .icon-uil_cart {
    display: none;
  }
  .navigation {
    display: none;
  }
}
.menu {
  display: flex;
  gap: 16px;
  font-size: 14px;
  line-height: 1.3;
  list-style: none;
}
.menu-item {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.3;
  color: var(--red-color);
}
@media screen and (min-width: 1279px) {
  .icon-mobile-menu {
    gap: 20px;
  }
}

@media screen and (min-width: 767px) {
  .menu-btn {
    display: none;
  }
}
.menu-btn .svg-close {
  display: none;
}

.menu-btn.menu-btn--toggle .svg-menu {
  display: none;
}
.menu-btn.menu-btn--toggle .svg-close {
  display: block;
}

.menu-btn {
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.svg-close {
  fill: var(--red-color);
}
@media screen and (max-width: 767px) {
  .overlay {
    position: absolute;
    top: 100%;
    bottom: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--red-color);
    /* z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out; */
  }
}

/* .overlay.is-open {
  transform: translateX(0);
} */

@media screen and (min-width: 768px) {
  .overlay {
    display: none;
  }
}
.mobile-menu {
  margin-top: 124px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-link {
  text-decoration: none;
  color: var(--white-color);
}
