/* MODAL ORLER */
:root {
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(168, 2, 32, 0.707);
  z-index: 20;
  transition: opacity var(--transition-duration-and-func),
    visibility var(--transition-duration-and-func);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-duration-and-func),
    visibility var(--transition-duration-and-func);
}
.modal-order {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 335px;
  height: 903px;
  border-radius: 20px;
  background-color: var(--white-color);
  transform: translate(-50%, -50%);
  padding: 20px;
}
.modal-order.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition-duration-and-func),
    visibility var(--transition-duration-and-func);
}
@media screen and (min-width: 768px) {
  .modal-order {
    width: 704px;
    height: 853px;
    padding: 40px;
    background-image: url(./img/modal-img/logo-w471@1x.png);
    background-position: 414px 389px;
    background-repeat: no-repeat;
    background-size: 469px 467px;
    object-fit: cover;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .modal-order {
      background-image: url(./img/modal-img/logo-w471@2x.png);
    }
  }
}
@media screen and (min-width: 1280px) {
  .modal-order {
    width: 891px;
    height: 911px;
    background-image: url(./img/modal-img/logo-w471@1x.png);
    background-position: 420px 453px;
    background-repeat: no-repeat;
    background-size: 471px 458px;
    object-fit: cover;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    .modal-order {
      background-image: url(./img/modal-img/logo-w471@2x.png);
    }
  }
}
.modal-top {
  display: flex;
  margin-bottom: 40px;
}
.modal-order-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  align-items: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--red-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  margin-right: 108px;
}
@media screen and (min-width: 768px) {
  .modal-order-title {
    font-size: 40px;
    margin-right: 384px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-order-title {
    margin-right: 571px;
  }
}
.modal-btn-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--white-color);
  color: var(--red-color);
  transform: scale(1);
  transition: transform var(--transition-duration-and-func);
  border: none;
  padding: 0;
}
.btn-close-icon {
  stroke: currentColor;
}
.modal-btn-close:hover,
.modal-btn-close:focus {
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .modal-btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
  }
}
.modal-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .modal-card {
    flex-direction: row;
    gap: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-card {
    gap: 20px;
  }
}
.modal-plant {
  position: relative;
  width: 295px;
  height: 119px;
  border-radius: 20px;
  color: var(--white-color);
  transform: scale(1);
  transition: transform var(--transition-duration-and-func);
  padding-top: 20px;
  padding-left: 20px;
}
.modal-plant:hover,
.modal-plant:focus {
  transform: scale(1.03);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
  .modal-plant {
    width: 200px;
    height: 250px;
    padding-top: 40px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-plant {
    width: 257px;
    height: 308px;
  }
}
.pinck {
  background-color: #f8766b;
}
.yellow {
  background-color: #edd251;
}
.green {
  background-color: #9dc262;
}
.plant-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  align-items: center;
  letter-spacing: -0.04em;
  margin-bottom: 2px;
}
@media screen and (min-width: 1280px) {
  .plant-title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 8px;
  }
}
.plant-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  align-items: center;
  letter-spacing: -0.02em;
}
.check-off {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 2px solid var(--white-color);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .check-off {
    width: 20px;
    height: 20px;
  }
}
.input-check:checked + .check-off {
  border: transparent;
  background-image: url(../img/modal-img/check-on-16.svg);
}
@media screen and (min-width: 768px) {
  .input-check:checked + .check-off {
    background-image: url(../img/modal-img/check-on-20.svg);
  }
}
.thumb-pinck {
  display: block;
  position: absolute;
  width: 88px;
  height: 95px;
  object-fit: cover;
  top: 16px;
  left: 175px;
}
@media screen and (min-width: 768px) {
  .thumb-pinck {
    width: 133px;
    height: 148px;
    top: 88px;
    left: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .thumb-pinck {
    width: 173px;
    height: 196px;
    top: 98px;
    left: 42px;
  }
}
.thumb-yellow {
  display: block;
  position: absolute;
  width: 106px;
  height: 95px;
  top: 16px;
  left: 157px;
}
@media screen and (min-width: 768px) {
  .thumb-yellow {
    width: 172px;
    height: 148px;
    top: 88px;
    left: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .thumb-yellow {
    width: 229px;
    height: 196px;
    top: 98px;
  }
}
.thumb-green {
  display: block;
  position: absolute;
  width: 107px;
  height: 95px;
  top: 16px;
  left: 156px;
}
@media screen and (min-width: 768px) {
  .thumb-green {
    width: 172px;
    height: 148px;
    top: 88px;
    left: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .thumb-green {
    width: 229px;
    height: 196px;
    top: 98px;
  }
}
.modal-use {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 295px;
  gap: 14px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modal-use {
    width: 360px;
  }
}
.input-user {
  width: 295px;
  height: 46px;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 14px 24px;
}
.input-user:not(:placeholder-shown):required:valid {
  outline: 2px solid rgba(2, 129, 2, 0.107);
  border: 2px solid rgb(4, 150, 4);
}
.input-user:not(:placeholder-shown):required:invalid {
  outline: 2px solid rgba(239, 32, 32, 0.107);
  border: 2px solid rgb(226, 11, 11);
}
@media screen and (min-width: 768px) {
  .input-user {
    width: 360px;
    height: 48px;
    padding: 15px 24px;
  }
}
.input-user[placeholder] {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  color: #000000;
  opacity: 0.5;
}
.input-user:not(:placeholder-shown) {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  color: #000000;
  opacity: 0.8;
}
.input-msg {
  width: 295px;
  height: 132px;
  opacity: 0.3;
  border: 1px solid #000000;
  resize: none;
  border-radius: 20px;
  padding: 14px 24px;
}
.input-msg:not(:placeholder-shown) {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  color: #000000;
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .input-msg {
    width: 360px;
    height: 145px;
  }
}
.modal-btn-sub {
  display: block;
  width: 92px;
  height: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  text-align: center;
  border-radius: 100px;
  color: var(--white-color);
  background-color: #9dc162;
  cursor: pointer;
  transform: scale(1);
  transition: transform var(--transition-duration-and-func);
  padding: 12px 24px;
  border: none;
}
.modal-btn-sub:hover,
.modal-btn-sub:focus {
  transform: scale(1.05);
  background-color: #659910;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .modal-btn-sub {
    width: 114px;
    height: 48px;
  }
}
/* MODAL THANK */
.fond {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(168, 2, 32, 0.707);
  z-index: 20;
  transition: 0.3s all;
}
.fond.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-duration-and-func),
    visibility var(--transition-duration-and-func);
}
.modal-thank-top {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 335px;
  height: 426px;
  gap: 20px;
  transform: translate(-50%, -50%);
  transition: transform 1000ms cubic-bezier(1, 0.99, 1, 0.97);
  transition: transform var(--transition-duration-and-func);
  border-radius: 20px;
  background-color: #e03f5e;
}
.fond.is-hidden .modal-thank-top {
  transform: translate(-50%, -50%) rotate(360deg) scale(0.2);
}
@media screen and (min-width: 768px) {
  .modal-thank-top {
    width: 600px;
    height: 545px;
  }
}
.thank-btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  background-color: #e03f5e;
  color: var(--white-color);
  transform: scale(1);
  transition: transform var(--transition-duration-and-func);
  border: none;
  padding: 0;
}
.thank-close-icon {
  stroke: currentColor;
}
.thank-btn-close:hover,
.thank-btn-close:focus {
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .modal-btn-close {
    width: 28px;
    height: 28px;
  }
}
.thank-pic {
  position: absolute;
  top: 40px;
  left: 64px;
  display: block;
  width: 207px;
  height: 176px;
}
@media screen and (min-width: 768px) {
  .thank-pic {
    top: 68px;
    left: 161px;
    width: 278px;
    height: 239px;
  }
}
.thank-descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 295px;
  gap: 14px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .thank-descr {
    width: 391px;
    height: 130px;
    margin-bottom: 80px;
  }
}
.thank-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--white-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .thank-title {
    font-size: 40px;
  }
}
.thank-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: -0.04em;
  color: var(--white-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
